<div class="container bg-black">
<header> 
    <div class="imgAll">
        <img class="imgHeader" style="border: none; width: 0; height: 0; margin: 0;">
        <img class="imgHeader" src="assets/angular.webp" alt="Angular">
        <img class="imgHeader" src="assets/java.png" alt="Java">
        <img class="imgHeader2" src="assets/sb.png" alt="Spring Boot">
        <img class="imgHeader" style="border: none; width: 0; height: 0; margin: 0;">
    </div>
  </header>
  <hr/>
  <main class="main">
    <h1>Titulo Prueba Práctica de Desarrollador FullStack - ADITUMCR</h1>
    <h4>Sistema Básico de Gestión de tareas, utilizando Angular integrando APIRestFull de Java y Spring Boot.</h4>
    <h5>Operaciones:</h5>
    <ul>
      <li>Crear</li>
      <li>Actualizar</li>
      <li>Eliminar</li>
    </ul>
    <h5>Desarrollador:</h5>
    <p>Ing. Fernando Moutinho</p>
    <p>   
      <a href="mailto:moutinho132@gmail.com" target="_blank"><img src="assets/mail.png" alt="Correo electrónico"></a>
      <a href="https://www.linkedin.com/in/fernando-javier-moutinho-soteldo-7a92129a/" target="_blank"><img src="assets/lk.png" alt="LinkedIn"></a>
      <a href="https://github.com/moutinho132" target="_blank"><img src="assets/git.png" alt="GitHub"></a>
      <a href="https://www.youtube.com/@fmoutinhodev" target="_blank"><img src="assets/youtube.png" alt="GitHub"></a>
      
    </p>
  </main>
  </div>